:root {
  --base-colour: #ffc600;
  --text-colour: #333333;
  --border-colour: #7e7c7c;
  --background-colour: #ffffff;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: var(--base-colour);
  justify-content: center;
  align-items: center;
}

.box{
 display: flex;
 flex-direction: column;
 background-color: var(--background-colour);
}

.todo-item {
  display: flex;
  padding: 10px;
  border:0.05cm solid #d6d5d5;
}

p {
  margin-left: 10px;
  margin-right: 40px;
}
/* The style below might be causing todo-items out of the inBetween to be checked, to be corrected.*/
input:checked + p {
  background: #F9F9F9;
  text-decoration: line-through;
  }


/*html {
      font-family: sans-serif;
      background: #ffc600;
    }

    .inbox {
      max-width: 400px;
      margin: 50px auto;
      background: white;
      border-radius: 5px;
      box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    }

    .item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #F1F1F1;
    }

    .item:last-child {
      border-bottom: 0;
    }

    

    input[type="checkbox"] {
      margin: 20px;
    }

    p {
      margin: 0;
      padding: 20px;
      transition: background 0.2s;
      flex: 1;
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
      border-left: 1px solid #D1E2FF;
    }*/